<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/nav-bar.ejs') %> 
<body>
    
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                    <% articles.forEach((article)=> { %> 
                    <tr>
                        <td><%= article.id %></td>
                        <td><%= article.tittle %></td>
                        <td><%= article.slug %></td>
                        <td><%= article.category.tittle %></td>
                        <td>
                            <form onsubmit="confirmarDelecao(event, this)" action="/articles/delete" method="post" style="display: inline">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>             
            </tbody>
        </table>
    </div>

</body>
<%- include('../../partials/footer.ejs') %> 
<script>

    function confirmarDelecao(event, form) {
        event.preventDefault();
        let decision = confirm('Você quer deletar este artigo?')

        if (decision) {
            form.submit()
        }
    }

</script>

