<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/nav-bar.ejs') %> 


<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/nav-bar.ejs') %> 
<body>
    
    <div class="container">
        <hr>
        <h2>Usuários</h2>
        <a href="/admin/users/create" class="btn btn-success">Criar novo usuário</a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) => { %> 
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>           
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>

</body>
<%- include('../../partials/footer.ejs') %> 
<script>

    function confirmarDelecao(event, form) {
        event.preventDefault();
        let decision = confirm('Você quer deletar esta categoria ?')

        if (decision) {
            form.submit()
        }
    }

</script>








<%- include('../../partials/footer.ejs') %> 